
<h1>Update <%= work['id'] %> Information</h1>

<form action="/work/<%= work ['id'] %>/edit" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="">Name</label>
  <input type="text" name="name" value="<%= work['name'] %>">

  <label for="">Year</label>
  <input type="url" name="image_url" placeholder="http://...." value="<%= work['year'] %>">

   <label for="">Image_URL</label>
  <input type="text" name="name" value="<%= work['image_url'] %>">

  <label for="">Description</label>
  <input type="url" name="image_url" placeholder="http://...." value="<%= work['description'] %>">

   <label for="">Medium</label>
  <input type="text" name="name" value="<%= work['medium'] %>">

  <button>Update</button>

</form> 