<h1>exhibit.</h1>

<h2> <%= work['name'] %> </h2>

<img src="<%= work['image_url']%>" alt="<%= work['name']%>" srcset="">

<div>

    <p>Name: <%= work['name'] %></p> 
    <p>Year: <%= work['year'] %></p> 
    <p>Image: <%= work['image_url'] %></p> 
    <p>Description: <%= work['description'] %></p> 
    <p>Medium: <%= work['medium'] %></p> 

</div>


<div class = "edit_delete_container">

    <form action="/work/<%= work['id'] %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class = "delete_btn">Remove from Folio</button>
    </form>

    <button class = "edit_btn">
        <a href="/work/<%= work['id'] %>/edit" class = "edit_data_font">Edit <%= work['name']%></a>
    </button>

</div>